<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>全部内容</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="../../js/vue.js" charset="utf-8"></script>
    <script src="../../Element-ui/index.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../../Element-ui/theme-chalk/index.css" />

    <script src="../../js/axios-0.18.0.js"></script>


    <style>
        body {
            margin: 0;
        }
        
        .el-table .warning-row {
            background: oldlace;
        }
        
        .el-table .success-row {
            background: #f0f9eb;
        }
        
        .el-table .el-button {
            margin-top: 2px;
            margin-bottom: 2px;
            margin-right: 3px;
            margin-left: 3px;
        }
        
        .demo-form-inline {
            display: flex;
        }
    </style>
</head>

<body>

    <div class="allUser">


        <el-form :model="addUser" :rules="rules" ref="addUser" label-width="100px" class="demo-ruleForm">
            <el-form-item label="用户名" prop="username">
                <el-input v-model="addUser.username"></el-input>
            </el-form-item>
            <el-form-item label="昵称" prop="name">
                <el-input v-model="addUser.name"></el-input>
            </el-form-item>

            <el-form-item label="密码" prop="passwd">
                <el-input v-model="addUser.passwd"></el-input>
            </el-form-item>

            <!-- <el-form-item label="手机号" prop="phone">
                <el-input v-model="addUser.phone"></el-input>
            </el-form-item>

            <el-form-item label="年龄" prop="age">
                <el-input v-model="addUser.age"></el-input>
            </el-form-item>

            <el-form-item label="性别：" prop="sex">
                <el-radio-group v-model="addUser.sex">
                    <el-radio label="0">女</el-radio>
                    <el-radio label="1">男</el-radio>
                </el-radio-group>
            </el-form-item> -->

            <el-button type="primary" @click="insertUser()">立即添加</el-button>
            <el-button @click="resetForm('addUser')">重置</el-button>
            </el-form-item>
        </el-form>






    </div>
    <script src="./js/addSon.js">
    </script>
</body>

</html>