<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yue.mapper.RenewalMapper">
    <resultMap id="renewalResultMap" type="com.yue.entity.RenewalInfo">
        <id column="id" property="id" />
        <result column="reserve_id" property="reserveId" />
        <result column="user_id" property="userId" />
        <result column="renewal_time" property="renewalTime" />
        <result column="admin_id" property="adminId" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result property="userName" column="user_name"/>
        <result property="bookTitle" column="book_title"/>
    </resultMap>
    <select id="selectRenewalById" resultMap="renewalResultMap" parameterType="int">
        SELECT id, reserve_id, user_id, renewal_time, admin_id, status, remark,user_name,book_title
        FROM renewal_info
        WHERE id = #{id}
    </select>
    <insert id="insertRenewal" parameterType="com.yue.entity.RenewalInfo">
        INSERT INTO renewal_info (reserve_id, user_id,admin_id,remark)
        VALUES (#{reserveId}, #{userId},  #{adminId},#{remark})
    </insert>
    <update id="updateRenewal" parameterType="com.yue.entity.RenewalInfo">
        UPDATE renewal_info
        SET reserve_id = #{reserveId}, user_id = #{userId}, renewal_time = #{renewalTime},
            admin_id = #{adminId}, status = #{status}, remark = #{remark}
        WHERE id = #{id}
    </update>
    <update id="passStatus">
        update renewal_info
        set status = 2
        where id=#{id}
    </update>
    <update id="UPassStatus">
        update renewal_info
        set status = 3
        where id=#{id}
    </update>
    <delete id="deleteRenewal" parameterType="int">
        DELETE FROM renewal_info
        WHERE id = #{id}
    </delete>
    <select id="selectAllRenewal" resultMap="renewalResultMap">
        SELECT id, reserve_id, user_id, renewal_time, admin_id, status, remark,user_name,book_title
        FROM renewal_info
    </select>
    <select id="selectRenewalByUserId" resultMap="renewalResultMap" parameterType="int">
        SELECT id, reserve_id, user_id, renewal_time, admin_id, status, remark,user_name,book_title
        FROM renewal_info
        WHERE user_id = #{userId}
    </select>
    <select id="selectRenewalByStatus" resultMap="renewalResultMap" parameterType="int">
        SELECT id, reserve_id, user_id, renewal_time, admin_id, status, remark,user_name,book_title
        FROM renewal_info
        WHERE status = #{status}
    </select>
    <select id="selectRenewalByAdminId" resultMap="renewalResultMap" parameterType="int">
        SELECT id, reserve_id, user_id, renewal_time, admin_id, status, remark,user_name,book_title
        FROM renewal_info
        WHERE admin_id = #{adminId}
    </select>
    <select id="selectByCondition" resultMap="renewalResultMap">
        select * from renewal_info
        <where>
            <if test="userName != null and userName != ''">
                and user_name like concat('%',#{userName},'%')
            </if>
            <if test="bookTitle!=null and bookTitle != ''">
                and book_title like concat('%',#{bookTitle},'%')
            </if>
        </where>
    </select>
</mapper>
