<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>车位状态</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="../../js/vue.js" charset="utf-8"></script>
    <script src="../../Element-ui/index.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../../Element-ui/theme-chalk/index.css" />

    <script src="../../js/axios-0.18.0.js"></script>


    <style>
        body {
            margin: 0;
        }
        
        .el-table .warning-row {
            background: oldlace;
        }
        
        .el-table .success-row {
            background: #f0f9eb;
        }
        
        .el-table .el-button {
            margin-top: 2px;
            margin-bottom: 2px;
            margin-right: 3px;
            margin-left: 3px;
        }
        
        .demo-form-inline {
            display: flex;
        }
    </style>
</head>

<body>

    <div class="allUser">
        <el-button type="success" size="mini" @click="addBtn"> 新增车位</el-button>

        <el-dialog title="添加车位" :visible.sync="dialogVisible" width="30%" center>


            <!-- <span>这是一段信息</span> -->
            <el-form :model="NewCarId" :rules="rules" ref="NewCarId" label-width="auto">
                <el-form-item label="管理员id" prop="dId">
                    <el-input v-model="NewCarId.dId" disabled></el-input>
                </el-form-item>
                <el-form-item label="车位编号" prop="ownership">
                    <el-input v-model="NewCarId.ownership"></el-input>
                </el-form-item>
                <el-form-item label="分配至用户">
                    <el-radio-group v-model="radio" @change="dUserId()">
                        <el-radio label="1">是·</el-radio>
                        <el-radio label="0">否</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="用户名" prop="dUserId">

                    <el-input v-model="NewCarId.dUserId" :disabled="inputBox" @blur="inputDUserID">

                    </el-input>



                </el-form-item>
                <el-form-item label="禁用" prop="yn">
                    <!-- <el-input v-model="NewCarId.type"></el-input> -->
                    <el-switch v-model="NewCarId.yn" :active-value="1" :inactive-value="0" active-color="#13ce66" inactive-color="#ff4949" />
                </el-form-item>
            </el-form>


            <span slot="footer" class="dialog-footer">
    <el-button @click="dialogVisible = false">取 消</el-button>
    <el-button type="primary" :disabled="PostFrom" @click="addCarId('NewCarId')">确 定</el-button>
  </span>
        </el-dialog>


        <el-table :data="carportData" ref="filterTable" style="width: 100%">
            <el-table-column type="index" width="50">
            </el-table-column>

            <el-table-column prop="ownership" label="编号">
            </el-table-column>
            <el-table-column prop="plateNumber" label="车牌号">
            </el-table-column>
            <el-table-column prop="dUserId" label="归属信息">
                <template slot-scope="scope">
                    <span>
                      {{ scope.row.dUserId === 0 ? '未分配' : scope.row.dUserId}}
                    </span>
                  </template>
            </el-table-column>

            <el-table-column prop="cState.stateName" label="车位状态" width="100" :filters="stateValue" :filter-method="filterTag">
                <template slot-scope="scope">
                            <el-tag el-tag effect="plain":type="scope.row.cState.stateName ==='空闲' ? 'success' : 'primary'"disable-transitions>{{scope.row.cState.stateName}}</el-tag>
                        </template>
            </el-table-column>

            <el-table-column prop="YN" label="是否禁用" width="100">

                <template slot-scope="scope">
                    <el-switch
                         v-model="scope.row.yn"
                         :active-value="1"
                         :inactive-value="0"
                         active-color="#13ce66"
  inactive-color="#ff4949"
                        />
                        </template>


            </el-table-column>
            <el-table-column label="操作" width="auto">
                <template slot-scope="scope">
                        <el-button
                            size="mini"
                            @click="confirm(scope.$index,scope.row)">保存</el-button>
                        </template>
            </el-table-column>

        </el-table>
    </div>
    <script src="./js/ChangeCarStata.js">
    </script>
</body>

</html>