    * {
        /* 初始化 清除页面元素的内外边距 */
        padding: 0;
        margin: 0;
        /* 盒子模型 */
        box-sizing: border-box;
    }
    
    body {
        /* 弹性布局 让页面元素垂直+水平居中 */
        display: flex;
        justify-content: center;
        align-items: center;
        /* 让页面始终占浏览器可视区域总高度 */
        height: 100%;
        /* 背景渐变色 */
        background: rgba(255, 255, 255, 0);
    }
    
    .bodySelf {
        display: flex;
        /* text-align: center; */
        flex-direction: column;
        align-items: center;
    }
    
    .bodySelf .selectCarPlace {
        display: flex;
        flex-direction: column;
        position: relative;
        /* float: left; */
    }
    
    .bodySelf .selectCarPlace .selectCarPlaceBox {
        display: none;
        /* display: flex; */
        height: 100%;
        width: 600px;
        background: salmon;
        flex-direction: column;
        align-items: center;
        padding: 15px 0;
    }